<div id="app">
    <div class="container-scroll">
            <div class="book-page">
                <section class="main-card" style="border-bottom:none">
                    <div class="u-book -detail">                  
                        <div class="info">
                            <h3 class="title">{{ item.title }}</h3>                       
                        </div>
                    </div>
                </section>           
            </div>
        </div>
</div>
